body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* First Section */

.first {
    background-color: #1F2937;
    color: white;
    padding: 0px 125px;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h2 {
    font-size: 24px;
    color:#F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

.first_content {
    margin: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

img {
    height: 200px;
    width: 150px;
    flex: 1 1 1;
}

.first_text {
    width: 400px;
}
.first_text h3 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.first_text p,
li {
    margin: 0px;
    font-size: 18px;
    color: #E5E7Eb;
}

button {
    color: white;
    background-color: #3882F6;
    border: 0px;
    width: 100px;
    height: 25px;
    font-weight: bold;
}

/* Second Section */

.second h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.second_content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.image_placeholder {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
}

.second p {
    text-align: center;
}



/* Third Section */

.third {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.third_content {
    display: flex;
    flex-direction: column;
    width: 750px;
}

.third h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    margin: 0px;
}

.third p {
    align-self: flex-end;
    font-weight: 800;
    font-size: 24px;
    margin: 0px;
}


/* Fourth Section */

.fourth {
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.fourth_content {
    background-color:#3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 750px;
    height: 100px;
}

.fourth_text h2 {
    margin-bottom: 0px;
}

.fourth_text p {
    margin-top: 0px;
}
.fourth_content button {
    border: 1px solid white;
}


/* Footer */
body .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}